<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!-- default 设置一个默认的连接环境信息 -->
	<!-- <environments default="mysql_developer">
	   连接环境信息，取一个任意唯一的名字
		<environment id="mysql_developer">
			mybatis使用的事务管理方式
			<transactionManager type="jdbc">
			</transactionManager>
			mybatis使用连接池方式获取连接
			<dataSource type="pooled">
				配置与数据库交互的4个必要属性
				<property name="driver" value="com.mysql.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://127.0.0.1:3306/mybatis"/>
				<property name="username" value="root"/>
				<property name="password" value="ab12$%"/> 
			</dataSource>
		</environment>
	</environments> -->
	
	<!-- 加载映射文件-->
	<mappers>
		<mapper resource="com/equality/javaee/mybatis/mapper/EmpMapper.xml"/>
		<mapper resource="com/equality/javaee/mybatis/mapper/StudentMapper.xml"/>
	</mappers>
	

</configuration>