<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.equality.javaee.mybatis.pojo.Blog">

	<resultMap type="com.equality.javaee.mybatis.pojo.Blog" id="blogMap">
		<id property="id"  column="id"/>
		<result property="title" column="title"/>
		<result property="authorId" column="author_id"/>
		
	</resultMap>
	
	<select id="findByPrimaryKey" parameterType="int" resultType="com.equality.javaee.mybatis.pojo.Blog">
		select * from Blog where id = #{id}
	</select>
	
	
</mapper>